@model JOBGATE_MVC_C.Models.Register_EPYModel
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
       
        
       
    </head>
   
        @using (Html.BeginForm("Register_Result", "Account", FormMethod.Post))
        {

            @Html.AntiForgeryToken()

<div class="container-fluid">
    <br />
    <br />
    <br />
    <div class="row justify-content-center">
        <a class="fa fa-5x fa-user"></a>
        <div class="text-center">
            <h2 class="font-weight-bold">Employee Register</h2>
            <h5>Welcome To Job Gate</h5>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg">
                <div class="card-body">
                    <div class="row justify-content-center mt-3">

                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-sm-6", placeholder = "Email Address" } })


                    </div>

                    <div id="AlertRe"> @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</div>



                    <div class="row justify-content-center mt-3">
                        @Html.EditorFor(model => model.ConfirmEmail, new { htmlAttributes = new { @class = "form-control col-sm-6", placeholder = "Confirm Email Address" } })
                    </div>
                    <div id="AlertRe"> @Html.ValidationMessageFor(model => model.ConfirmEmail, "", new { @class = "text-danger" })</div>
                    <div class="row justify-content-center mt-3">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control col-sm-6", placeholder = "Password" })
                    </div>
                    <div id="AlertRe"> @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</div>
                    <div class="row justify-content-center mt-3">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control col-sm-6", placeholder = "Confirm Password" })
                    </div>
                    <div id="AlertRe"> @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</div>
                    <div class="row justify-content-center mt-3">
                        <div class="form-group justify-content-center">

                            <div class="custom-checkbox small">
                                @*<input type="checkbox" class="custom-control-input" id="customCheck">*@
                                @*<label class="custom-control-label" for="customCheck">*@
                                @Html.CheckBoxFor(model => model.PrivacyCheck)
                                I agree to Jobgate's <a class="text-primary"><u>Terms&Condition</u></a> and <a class="text-primary"><u>Privacy Policy</u></a>
                                @*</label>*@

                            </div>
                                    <div id="AlertRe"> @Html.ValidationMessageFor(model => model.PrivacyCheck, "", new { @class = "text-danger" })</div>
                                </div>
                            </div>

                            <div class="row justify-content-center">

                                <button type="submit" value="Save" class="btn btn-primary">
                                    <h3 class="text-white">Register</h3>
                                </button>
                            </div>
                            <div class="row justify-content-center">
                                <a class="h3 text-primary" href="@Url.Action("Login", "Home")">Do you have already Account? <u>Log In</u></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            }
