<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>JOB GATE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css" />
    <link rel="stylesheet" href="~/css/image.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
        <a class="navbar-brand font-weight-bold" href="@Url.Action("Home", "Home")">
            <img src="~/Images/Logo 1.png" width="50" height="50" />
            JOB GATE
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHome" aria-controls="navbarHome" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarHome">
            <ul class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link text-dark" href="@Url.Action("Home", "Home")">Search Job</a>
                <a class="flex-sm-fill text-sm-center nav-link text-dark" href="@Url.Action("MyPage", "MyPage")">Resume</a>
                <a class="flex-sm-fill text-sm-center nav-link text-dark" href="@Url.Action("Home", "Home")">Job Matching</a>
                <label class="flex-sm-fill text-sm-center nav-link">|</label>
                <a class="flex-sm-fill text-sm-center nav-link text-dark" href="@Url.Action("Login", "Home")">Login</a>
                <a class="flex-sm-fill text-sm-center nav-link text-dark" href="@Url.Action("Register", "Home")">Register</a>
                <a class="flex-sm-fill text-sm-center nav-link text-dark fa fa-globe-americas"></a>
                <select class="flex-sm-fill text-sm-center nav-link text-sm-left form-control" style="width:75px;">
                    <option>TH</option>
                    <option>EN</option>
                </select>
            </ul>
        </div>
    </nav>
    <div id="main-content" class="container-fluid col-12 col-md-9 pull-md-3">
        <br />
        @RenderBody()
        <br />
    </div>
    <div style="height:100px;"></div>
    <footer class="bg-light text-center text-lg-start sticky-footer">
        <div class="container-fluid p-4">
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-left">
                    <h5 class="text-uppercase font-weight-bold text-primary">JOBGATE</h5>
                    <p style="white-space:pre-line;">24 Hours Customer Contacts: 02-000-0000
                        Advertisement : support@myjobgate.com
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="@Url.Action("Home","Home")" class="text-primary">About</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Home","Home")" class="text-primary">Advertisement</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled">
                        <li>
                            <a href="@Url.Action("Privacy", "Terms")" class="text-dark">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Cookie", "Terms")" class="text-dark">Cookie Policy</a>
                        </li>
                        <li>
                            <a href="@Url.Action("TermsOfService", "Terms")" class="text-dark">Terms of Service Agreement</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
