@using JOBGATE.Models
<style>
    .responsive {
        width: 100%;
        height: 100%;
    }
</style>

<div class="row mt-1 mb-2">
    <div class="col-lg-4 col-md-5 col-12 mt-1">
        <div class="card" style="font-size:14px;  border-radius:0px;">
            <div class="card-body">
                <div class="row  mt-2">

                    <div class="col-lg-12 col-md-12 col-12 mt-1">
                        <span class="font-weight-bold text-dark">Location</span>
                        <select class="form-control form-control-sm" id="locationProvi" onchange="disChange();">
                            <option value=""></option>
                            @foreach (CEN_LocationThailand data in (CEN_LocationThailand[])ViewBag.locationPro)
                            {
                                <option value="@data.ProvinceID">@data.ProvinceEN</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row  mt-2">

                    <div class="col-lg-12 col-md-12 col-12 mt-1">
                        <span class="font-weight-bold text-dark">District</span>
                        <select class="form-control form-control-sm" id="jobResultDistrictId">
                            <option value=""></option>
                            @foreach (CEN_LocationThailand data in (CEN_LocationThailand[])ViewBag.Disti)
                            {
                                <option value="@data.DistrictID">@data.DistrictEN</option>
                            }

                        </select>
                    </div>
                </div>

                <div class="row  mt-2">

                    <div class="col-lg-12 col-md-12 col-12 mt-1">
                        <span class="font-weight-bold text-dark">Job Type</span>
                        <select class="form-control form-control-sm" id="jobResultJobTypeId" onchange="JobfieChange();">
                            <option value=""></option>
                            @foreach (CEN_JobField data in (CEN_JobField[])ViewBag.JobFieldTy)
                            {
                                <option value="@data.JobCategoryID">@data.JobCategoryEN</option>
                            }
                        </select>
                    </div>
                </div>
                <a id="AdvancedSeach" class="nav-link collapsed text-primary text-right" href="#" data-toggle="collapse" data-target="#collapseAdvanced"
                   aria-expanded="true">
                    <i id="arrow" class="fa fa-chevron-left"></i>
                    <span>Advanced Search</span>
                </a>
                <div id="collapseAdvanced" class="collapse">
                    <div class="collapse-inner rounded">
                        <div class="row  mt-2">

                            <div class="col-lg-12 col-md-12 col-12 mt-1">
                                <span class="font-weight-bold text-dark">Industry</span>
                                <select class="form-control form-control-sm" id="jobResultIndustryId">
                                    <option value=""></option>
                                    @foreach (IndustryCodeList data in (IndustryCodeList[])ViewBag.Insdus)
                                    {
                                        <option value="@data.Code">@data.IndustryNameEN</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="row  mt-2">

                            <div class="col-lg-12 col-md-12 col-12 mt-1">
                                <span class="font-weight-bold text-dark">Job Field</span>
                                <select class="form-control form-control-sm" id="jobResultJobFieldId">
                                    <option value=""></option>
                                    @foreach (CEN_JobField data in (CEN_JobField[])ViewBag.JobField)
                                    {
                                        <option value="@data.JobFieldID">@data.JobFieldEN</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row  mt-2">

                            <div class="col-lg-12 col-md-12 col-12 mt-1">
                                <span class="font-weight-bold text-dark">Salary</span>
                                <div class="row ">
                                    <div class="col-lg-12 col-md-12 col-12 ">
                                        <select class="form-control form-control-sm" id="jobResultSalaryMinId">
                                            <option value="0">0</option>
                                            <option value="5000">5000</option>
                                            <option value="10000">10000</option>
                                            <option value="15000">15000</option>
                                            <option value="20000">20000</option>
                                            <option value="25000">25000</option>
                                            <option value="30000">30000</option>
                                            <option value="35000">35000</option>
                                            <option value="40000">40000</option>
                                            <option value="45000">45000</option>
                                            <option value="50000">50000</option>
                                            <option value="55000">55000</option>
                                            <option value="60000">60000</option>
                                            <option value="65000">65000</option>
                                            <option value="70000">70000</option>
                                            <option value="75000">75000</option>
                                            <option value="80000">80000</option>
                                            <option value="85000">85000</option>
                                            <option value="90000">90000</option>
                                            <option value="95000">95000</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-12 d-flex justify-content-center">
                                        <div>
                                            ~
                                        </div>

                                    </div>
                                    <div class="col-lg-12 col-md-12 col-12 ">
                                        <select class="form-control form-control-sm" id="jobResultSalaryMaxId">
                                            <option value="Over 100000">Over 100000</option>
                                            <option value="10000">10000</option>
                                            <option value="15000">15000</option>
                                            <option value="20000">20000</option>
                                            <option value="25000">25000</option>
                                            <option value="30000">30000</option>
                                            <option value="35000">35000</option>
                                            <option value="40000">40000</option>
                                            <option value="45000">45000</option>
                                            <option value="50000">50000</option>
                                            <option value="55000">55000</option>
                                            <option value="60000">60000</option>
                                            <option value="65000">65000</option>
                                            <option value="70000">70000</option>
                                            <option value="75000">75000</option>
                                            <option value="80000">80000</option>
                                            <option value="85000">85000</option>
                                            <option value="90000">90000</option>
                                            <option value="95000">95000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @*<div class="row  mt-2">

                    <div class="col-lg-12 col-md-12 col-12 mt-1">
                        <span class="font-weight-bold text-dark">Keywords</span>
                        <select class="form-control form-control-sm" id="jobResultKeywordsId">
                            <option value=""></option>
                            @foreach (CEN_LocationThailand data in (CEN_LocationThailand[])ViewBag.locationPro)
                            {
                                <option value="@data.ProvinceEN">@data.ProvinceEN</option>
                            }
                        </select>
                    </div>
                </div>*@

                <div class="d-flex justify-content-center mt-5">

                    <div class="col-lg-10 col-md-10 col-12">
                        <button type="button" class="btn btn-primary btn-block" onclick="goto();"><i class="fa fa-search"></i>&nbsp;Search</button>
                    </div>

                </div>
             
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-md-7 col-12 mt-1 d-flex justify-content-center">


        <div class="card" style="height:495px; border-radius:0px;">
            <div class="card-body">
                <img class="responsive" src="~/Images/Advertising.jpg">
            </div>
        </div>



    </div>


</div>


<br />
<h5 class="font-weight-bold text-dark text-uppercase mr-2">Top Recommended Companies</h5>
<div class="row" style="margin-top:20px;">

    <div class="col-lg-2 col-md-4 col-12 mt-2">
        <div class="card">
            <div class="card-header text-dark" style="font-size:14px;">LOGO COMPANY</div>
            <div class="card-body ">
                <img class="bg-preset1 card-img responsive" src="~/Images/Advertising.jpg" />
            </div>
            <div class="card-footer">
                Detail....
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-12 mt-2">
        <div class="card">
            <div class="card-header text-dark" style="font-size:14px;">LOGO COMPANY</div>
            <div class="card-body ">
                <img class="bg-preset1 card-img responsive" src="~/Images/Advertising.jpg" />
            </div>
            <div class="card-footer">
                Detail....
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-12 mt-2">
        <div class="card">
            <div class="card-header text-dark" style="font-size:14px;">LOGO COMPANY</div>
            <div class="card-body ">
                <img class="bg-preset1 card-img responsive" src="~/Images/Advertising.jpg" />
            </div>
            <div class="card-footer">
                Detail....
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-12 mt-2">
        <div class="card">
            <div class="card-header text-dark" style="font-size:14px;">LOGO COMPANY</div>
            <div class="card-body ">
                <img class="bg-preset1 card-img responsive" src="~/Images/Advertising.jpg" />
            </div>
            <div class="card-footer">
                Detail....
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-12 mt-2">
        <div class="card">
            <div class="card-header text-dark" style="font-size:14px;">LOGO COMPANY</div>
            <div class="card-body ">
                <img class="bg-preset1 card-img responsive" src="~/Images/Advertising.jpg" />
            </div>
            <div class="card-footer">
                Detail....
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-12 mt-2">
        <div class="card">
            <div class="card-header text-dark" style="font-size:14px;">LOGO COMPANY</div>
            <div class="card-body ">
                <img class="bg-preset1 card-img responsive" src="~/Images/Advertising.jpg" />
            </div>
            <div class="card-footer">
                Detail....
            </div>
        </div>
    </div>

</div>
<br />
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/Banner.jpg" width="500" height="250" data-holder-rendered="true">
        </div>
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Images/Banner.jpg" width="500" height="250" data-holder-rendered="true">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/Banner.jpg" width="500" height="250" data-holder-rendered="true">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<h5 class="font-weight-bold text-dark text-uppercase">Urgent Jobs</h5>
<div class="row">
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card-group mt-2">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
            </div>
            <div class="card col-sm-8">
                <div class="card-body">
                    Detail....
                </div>
            </div>

        </div>
    </div>

</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top:10px; margin-bottom:10px;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/Banner.jpg" width="250" height="125" data-holder-rendered="true">
        </div>
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Images/Banner.jpg" width="250" height="125" data-holder-rendered="true">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/Banner.jpg" width="250" height="125" data-holder-rendered="true">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h5 class="font-weight-bold text-dark text-uppercase">Job Posting Companies</h5>
<div class="row">
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1 responsive" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img w-120 bg-preset1" src="~/Images/Advertising.jpg" />
            </div>
        </div>
    </div>
</div>

<script>

    function showdiv() {

        alert("21212");
    }
</script>

<script>

    function goto() {

        var typeselectTitle = $("#TypeSe").val();
        var textSearch = $("#Textsea").val();
        var industy = $("#industy").val();
        var jobField = $("#jobField").val();
        var locationProvi = $("#locationProvi").val();
        var TypeJob = $("#TypeJob").val();
        var SalaSelectMin = $("#SalaSelectMin").val();
        var SalaSelectMax = $("#SalaSelectMax").val();

         var locationProvi = $("#locationProvi").val();
        var jobResultDistrictId  = $("#jobResultDistrictId").val();
        var jobResultJobFieldId  = $("#jobResultJobFieldId").val();
        var jobResultIndustryId  = $("#jobResultIndustryId").val();
        var jobResultJobTypeId   = $("#jobResultJobTypeId").val();
        var jobResultSalaryMinId = $("#jobResultSalaryMinId").val();
        var jobResultSalaryMaxId = $("#jobResultSalaryMaxId").val();
        var jobResultKeywordsId  = $("#jobResultKeywordsId").val();

        var fileData = new FormData();

        fileData.append('locationProvi', locationProvi);
        fileData.append('jobResultDistrictId' , jobResultDistrictId);
        fileData.append('jobResultJobFieldId' , jobResultJobFieldId);
        fileData.append('jobResultIndustryId' , jobResultIndustryId);
        fileData.append('jobResultJobTypeId'  , jobResultJobTypeId);
        fileData.append('jobResultSalaryMinId', jobResultSalaryMinId);
        fileData.append('jobResultSalaryMaxId', jobResultSalaryMaxId);
        fileData.append('jobResultKeywordsId', jobResultKeywordsId);


     /*   alert(jobResultLocationId, jobResultDistrictId, jobResultJobFieldId);*/
        $.ajax({
            url: '/Home/JobResult',
            type: "POST",
            contentType: false,
            processData: false,
            data: fileData,
            success: function (result) {

              var url = '@Url.Action("JobResult")';
                        window.location.href = url;

                @*$("#cradListShow").empty();
                var item = '', div;
                $.each(result, function (i, item) {
                    div =  " <a href='#' class='list-group-item list-group-item-action'>"+

                            "<div class='row'>"+
                            "<div class='col-lg-10 col-md-10 col-10'>"+
                            "<div class=''>"+
                            "<h4 class='font-weight-bold'>Node. JS Programmer</h4>"+
                            "</div ><div>"+
                            "<h6 class='font-weight-bold text-primary' href=''>Company Name</h6>"+
                            "</div> "+
                            "<div class='row' >"+
                            "<div class='col-lg-5 col-md-5 col-12' > " +
                            "<i class='fa fa-map-marker-alt text-primary mt-1'></i>"+
                            "<label class='ml-2'>Bang Kapi,Bangkok</label>"+
                            "</div>"+
                            "<div class='col-lg-3 col-md-3 col-12'>"+
                            "<i class='fa fa-money-bill-alt text-primary mt-1'></i>"+
                            "<label class='ml-2'>50,000</label>"+
                            "</div>"+
                            "<div class='col-lg-3 col-md-3 col-12'>"+
                            "<i class='fa fa-clock text-primary mt-1'></i>"+
                            "<label class='ml-2'>Full-Time</label>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "<div class='col-lg-2 col-md-2 col-12 text-center'>" +
                            "<div class='row justify-content-lg-end justify-content-md-end justify-content-sm-end justify-content-end'>" +
                            "<div class=''>" +
                            "<img src='~/Images/Logo 1.png' class='card-img' style='height:auto;width:100%; max-width:65px; min-width:30px; '/>" +
                            "<h6 class='font-weight-bold'>@DateTime.UtcNow.ToString("d MMM yyyy", new System.Globalization.CultureInfo("en-US"))</h6>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "</div>";
                     div += "</a>" ;
                    $("#cradListShow").append(div);
                });*@
            },
            error: function (err) {
            }
        });


    }
</script>

<script>

    function disChange() {

        var locationProvi = $("#locationProvi").val();
        var jobResultJobTypeId = $("#jobResultJobTypeId").val();
        var fileData = new FormData();

        fileData.append('locationProvi', locationProvi);
        fileData.append('jobResultJobTypeId', jobResultJobTypeId);

        $.ajax({
            url: '/Home/Home',
            type: "POST",
            contentType: false,
            processData: false,
            data: fileData,
            success: function (result) {

                $("#jobResultDistrictId").empty();
                var item, option;

                var jsonpa = JSON.parse(result);

                for (var i = 0; i < jsonpa.length; i++) {

                    option = "<option selected='selected' value='" + jsonpa[i].DistrictID + "'>" + jsonpa[i].DistrictEN + "</option>";

                    $("#jobResultDistrictId").append(option);
                }

             

            },

        });
    }
</script>
<script>

    function JobfieChange() {

        var jobResultJobTypeId = $("#jobResultJobTypeId").val();
        var fileData = new FormData();

        fileData.append('jobResultJobTypeId', jobResultJobTypeId);

        $.ajax({
            url: '/Home/changeFie',
            type: "POST",
            contentType: false,
            processData: false,
            data: fileData,
            success: function (result) {

                $("#jobResultJobFieldId").empty();
                var item, option;

                var jsonpa = JSON.parse(result);

                for (var i = 0; i < jsonpa.length; i++) {

                    option = "<option selected='selected' value='" + jsonpa[i].JobFieldID + "'>" + jsonpa[i].JobFieldEN + "</option>";

                    $("#jobResultJobFieldId").append(option);
                }
            },

        });
    }
</script>

        @*location.href = '@Url.Action("JobResult", "Home")?typeselectTitles =' + typeselectTitle + '&textSearch =' + textSearch + '' +
        ' & industy=' + industy + ' & jobField=' + jobField + ' & locationProvi=' + locationProvi + '&TypeJob=' + TypeJob + '' +
        '& SalaSelectMin=' + SalaSelectMin + ' &SalaSelectMax=' + SalaSelectMax + '';*@