@model IEnumerable<JOBGATE.Models.CPN_JobPosting>
@{ Layout = "_Layout MyCompany"; }

<link rel="stylesheet" href="~/company/css/JobPosting.css" />

<section class="mt-md-5 bg-light shadow-lg">
    <div class="container">
        <div class="card-header bg-transparent">
            <h3 class="fw-bolder text-primary">Job Posting Management</h3>
        </div>
        <div class="card-body">
            <div class="mt-2 row">
                <div class="col-sm-6">
                    <input type="radio" class="btn-check" name="Filter" id="All" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="All">#All</label>
                    <input type="radio" class="btn-check" name="Filter" id="Open" autocomplete="off">
                    <label class="btn btn-outline-primary" for="Open">#Open</label>
                    <input type="radio" class="btn-check" name="Filter" id="Close" autocomplete="off">
                    <label class="btn btn-outline-primary" for="Close">#Close</label>
                </div>
                <div class="col-sm-6 d-flex justify-content-end">
                    <a class="btn btn-primary col-sm-8" href="@Url.Action("JobPosting_New","MyCompany")">+ Register New Job Posting</a>
                </div>
            </div>
            <div class="mt-2 mb-4 row">
                <div class="col-sm-6">
                    <select class="form-select">
                        <option>All Resume Type</option>
                    </select>
                </div>
                <div class="col-sm-6 row justify-content-end">
                    <a href="#" class="w-auto small">Lastest</a>
                    <p class="w-auto small">|</p>
                    <a href="#" class="w-auto small">View Count</a>
                    <p class="w-auto small">|</p>
                    <a href="#" class="w-auto small">Apply Count</a>
                </div>
            </div>
            <table class="table">
                @foreach (var item in Model)
                {
                    <tr id="joblist">
                        <td>
                            <div class="card-body bg-light shadow mt-2">
                                <div class="row">
                                    <div class="col-sm-3">
                                        @switch (item.ResumeType)
                                        {
                                            case "1":
                                                <div class="d-flex justify-content-center mt-2">
                                                    <button class="btn btn-outline-primary">Regular Hiring</button>
                                                </div>
                                            break;
                                            case "2":
                                                <div class="d-flex justify-content-center mt-2">
                                                    <button class="btn btn-outline-primary">Regular+Easy Hiring</button>
                                                </div>
                                            break;
                                        }

                                        <div class="row mt-4">
                                            <div class="card bg-transparent col-sm-6 border-start-0 border-top-0 border-bottom-0">
                                                <div class="card-title text-center small fw-bold">Applicants</div>
                                                <div class="card-body bg-transparent text-center fw-bolder">@item.ApplyCount</div>
                                            </div>
                                            <div class="card bg-transparent col-sm-6 border-0">
                                                <div class="card-title text-center small fw-bold">Viewer</div>
                                                <div class="card-body bg-transparent text-center fw-bolder">@item.ViewCount</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="h4 fw-bolder d-flex mt-2">@item.JobTitle</label>
                                        <label class="fw-bold small d-flex mt-3">@item.JobField</label>
                                        <label class="fw-bold small d-flex mt-3">@item.Province</label>
                                        @if (item.SalaryMin == item.SalaryMax)
                                        {
                                            <label class="fw-bold small d-flex mt-3">@item.SalaryMin.ToString("#,##0")</label>
                                        }
                                        else
                                        {
                                            <label class="fw-bold small d-flex mt-3">@item.SalaryMin.ToString("#,##0") ~ @item.SalaryMax.ToString("#,##0")</label>
                                        }

                                    </div>
                                    <div class="col-sm-2 text-center">
                                        <label class="fw-bold small mt-3">@item.UpdateDate</label>
                                        <h4 class="fw-bolder mt-3">Show Job</h4>
                                        <label class="switch">
                                            <input type="checkbox" class="primary showjob" value="@item.ID" checked="@item.Status">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-outline-primary col-sm-12">View&Print</button>
                                        <a asp-action="JobPosting_Edit" asp-route-id="@item.ID" class="btn btn-outline-primary col-sm-12 mt-2">Revise</a>
                                        <a asp-action="JobPosting_Copy" asp-route-id="@item.ID" class="btn btn-outline-primary col-sm-12 mt-2">Copy</a>
                                        <button type="button" class="btn btn-danger col-sm-12 mt-2"data-bs-toggle="modal" data-bs-target="#Modal_@item.ID">Delete</button>
                                        <div class="modal fade" id="Modal_@item.ID" tabindex="-1" style="top:25%;">
                                            <div class="modal-dialog align-middle">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title text-danger fw-bolder">DELETE</h3>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5 class="fw-bolder">You want to Delete : @item.JobTitle</h5>
                                                        <h5 class="fw-bolder text-center">Are you sure ?</h5>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a asp-action="JobPosting_Delete" asp-route-id="@item.ID" class="btn btn-primary">Yes</a>
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <div class="d-flex justify-content-center mt-5">
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<script>
import { each } from "jquery";

    $(document).ready(function () {
        $('.showjob').change(function () {
            $.getJSON("/MyCompany/ShowJob", { id: $(this).val(),status: $(this).prop('checked') }, function (data) {

            });
        });

        $('#Open').click(function () {
            var fileData = new FormData();
            fileData.append('filter', 'True');
            $.ajax({
                url: '/MyCompany/JobPosting',
                type: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (result) {
                    $('#joblist').empty();
                    each()
                },
                error: function (err) {
                }
            });
        });
    });
</script>