@model JOBGATE.Models.CPN_JobPosting
@{ Layout = "_Layout MyCompany"; }

<script src="~/company/js/JobPosting.js"></script>


<ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item text-center border" style="width:40%;">
        <a class="nav-link active" id="Company-tab" data-toggle="pill" href="#pills-Company" role="tab" aria-selected="true">
            <i class="fa fa-building fa-2x"></i>
            <br />
            <strong>Company Information</strong>
        </a>
    </li>
    <li class="nav-item text-center border" style="width:40%;">
        <a class="nav-link" id="JobPosting-tab" data-toggle="pill" href="#pills-JobPosting" role="tab" aria-selected="true">
            <i class="fa fa-clipboard-list fa-2x"></i>
            <br />
            <strong>Job Posting Contents</strong>
        </a>
    </li>
    <li class="nav-item text-center border" style="width:20%;">
        <a class="nav-link" id="Recruit-tab" data-toggle="pill" href="#pills-Recruit" role="tab" aria-selected="true">
            <i class="fa fa-book-open fa-2x"></i>
            <br />
            <strong>Recruit Method</strong>
        </a>
    </li>
</ul>
<div class="progress">
    <div id="Progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="card shadow-lg">
    <div class="card-body bg-light">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-Company" role="tabpanel">
                <div class="card-header bg-transparent">
                    <h3 class="font-weight-bold text-dark">Company Information</h3>
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-3">
                            <div class="row gap-4">
                                <div class="col-12 col-sm-12">
                                    Company Name
                                </div>
                                <div class="col-12 col-sm-12">
                                    Industry
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row gap-4">
                                <div class="col-12 col-sm-12">
                                    <input type="text" asp-for="CompanyName" class="form-control" />
                                </div>
                                <div class="col-12 col-sm-12">
                                    <select class="form-select" asp-for="Industry" asp-items="@(SelectList)ViewBag.Industry">
                                        <option>Company Business Industry</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-3">
                            Work Location
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-12 col-sm-12 mb-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="chkOverseas" asp-for="Oversea">
                                        <label class="form-check-label" for="chkOverseas">Overseas</label>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <select class="form-select" id="Province" asp-for="Country" asp-items="@(SelectList)ViewBag.Country" hidden>
                                        <option>Country</option>
                                    </select>
                                    <select class="form-select" id="Province" asp-for="Province" asp-items="@(SelectList)ViewBag.Province">
                                        <option>Province</option>
                                    </select>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <select class="form-select" id="District" asp-for="District" asp-items="@(SelectList)ViewBag.District">
                                        <option>District</option>
                                    </select>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <select class="form-select" id="SubDistrict" asp-for="SubDistrict" asp-items="@(SelectList)ViewBag.SubDistrict">
                                        <option>Sub-District</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-12 mt-2">
                                    <textarea class="form-control" asp-for="Address" placeholder="Address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-3">
                            Contract Person
                        </div>
                        <div class="col-sm-9">
                            <div class="col-12 col-sm-4">
                                <input type="text" class="form-control" asp-for="Contract" />
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-3">
                            Tel. No.
                        </div>
                        <div class="col-sm-9">
                            <div class="col-12 col-sm-4">
                                <input type="tel" class="form-control" asp-for="Telephone" />
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-3">
                            Mobile Phone
                        </div>
                        <div class="col-sm-9">
                            <div class="col-12 col-sm-4">
                                <input type="tel" class="form-control" asp-for="MobilePhone" />
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-3">
                            Email
                        </div>
                        <div class="col-sm-9">
                            <div class="col-12 col-sm-4">
                                <input type="email" class="form-control" asp-for="Email" />
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-3">
                            Website
                        </div>
                        <div class="col-sm-9">
                            <div class="col-12 col-sm-4">
                                <input type="text" class="form-control" asp-for="Website" />
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-5">
                        <div class="col-sm-12">
                            Company Introduction
                        </div>
                    </div>
                    <div class="row align-items-center mt-1">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <textarea class="form-control" asp-for="CompanyDetail" style="height:150px;"></textarea>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-12">
                            Welfare&Benefits
                        </div>
                    </div>
                    <div class="row align-items-center mt-1">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <textarea class="form-control" asp-for="WelfareBenefit" style="height:150px;"></textarea>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row justify-content-end">
                    <input type="button" id="btnCompanyNext" class="btn btn-primary col-sm-3 StepNext" data-toggle="pill" href="#pills-JobPosting" role="tab" value="Next" />
                </div>
            </div>
            <div class="tab-pane fade" id="pills-JobPosting" role="tabpanel">
                <div class="card-header bg-transparent">
                    <h3 class="font-weight-bold text-dark">Job Positng Contents</h3>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-3">
                            Job Posting Title
                        </div>
                        <div class="col-sm-9">
                            <div class="col-12 col-sm-10">
                                <input type="text" class="form-control" asp-for="JobTitle" />
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-3">
                            Job Type
                        </div>
                        <div class="col-sm-9">
                            <div class="col-12 col-sm-4">
                                <select class="form-select">
                                    <option value="FullTime">Full-Time</option>
                                    <option value="PartTime">Part-Time</option>
                                    <option value="Freelance">Contract/Freelance</option>
                                    <option value="Intern">Intern</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-3">
                            Job Field
                        </div>
                        <div class="col-sm-9">
                            <div class="col-12 col-sm-4">
                                <select class="form-select">
                                    <option>Select Job Field</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-3">
                            Position Level
                        </div>
                        <div class="col-sm-9">
                            <div class="col-12 col-sm-4">
                                <select class="form-select">
                                    <option>Select Position Level</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-3">
                            Job Description
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control" style="height:150px;"></textarea>
                        </div>
                    </div>
                    <div class="row align-items-center mt-5">
                        <div class="col-sm-12">Qualifications</div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            Job Experience
                        </div>
                        <div class="col-sm-8">
                            <div class="col-12 col-sm-6">
                                <select class="form-select">
                                    <option>Welcome Fresh graduated</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            Eductation Degree
                        </div>
                        <div class="col-sm-8">
                            <div class="col-12 col-sm-6">
                                <select class="form-select">
                                    <option>Degree</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            Forerign Language Skill
                        </div>
                        <div class="col-sm-8">
                            <div class="col-12 col-sm-4">
                                <select class="form-select">
                                    <option>Select Language</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            Driving License
                        </div>
                        <div class="col-sm-8">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="ChkCar" value="Car">
                                <label class="form-check-label" for="ChkCar">Car</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="ChkMotorbike" value="Motorbike">
                                <label class="form-check-label" for="ChkMotorbike">Motorbike</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="ChkTruck" value="Truck">
                                <label class="form-check-label" for="ChkTruck">Truck</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="ChkTrailer" value="Trailer">
                                <label class="form-check-label" for="ChkTrailer">Trailer</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="ChkForklift" value="Forklift">
                                <label class="form-check-label" for="ChkForklift">Forklift</label>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            Addtional Qualifications
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control" style="height:150px;"></textarea>
                        </div>
                    </div>
                    <div class="row align-items-center mt-5">
                        <div class="col-sm-12">Preferance</div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2">
                            Age
                        </div>
                        <p class="w-auto mt-3">Min</p>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" />
                        </div>
                        <p class="w-auto mt-3 mr-2"> ~ </p>
                        <p class="w-auto mt-3">Max</p>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" />
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2">
                            Salary
                        </div>
                        <p class="w-auto mt-3">Min</p>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" />
                        </div>
                        <p class="w-auto mt-3 mr-2"> ~ </p>
                        <p class="w-auto mt-3">Max</p>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <input type="button" id="btnJobPostingBack" class="btn btn-primary form-control StepBack" data-toggle="pill" href="#pills-Company" role="tab" value="Back" />
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-3">
                        <input type="button" id="btnJobPostingNext" class="btn btn-primary form-control StepNext" data-toggle="pill" href="#pills-Recruit" role="tab" aria-selected="true" value="Next" />
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Recruit" role="tabpanel">
                <div class="card-header border-0 bg-transparent">
                    <h3 class="font-weight-bold text-dark">Recruit Method</h3>
                </div>
                <div class="card-body">
                    <p class="fw-bold mt-4">Receive Resume</p>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <div class="input-group">
                                <input type="radio" class="btn-check" name="ResumeOption" id="RegularResume" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="RegularResume">Only Regular Resume</label>
                                <input type="radio" class="btn-check" name="ResumeOption" id="EasyResume" autocomplete="off">
                                <label class="btn btn-outline-primary" for="EasyResume">Regular Resume + Easy Resume</label>
                            </div>
                        </div>
                    </div>
                    <p class="fw-bold mt-4">Job Posting Advertisement</p>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="AdsOption" id="AdsOption1" value="option1" checked>
                                <label class="form-check-label" for="AdsOption1">Job Posting Companies(Middle Size Company Logo & Lower side on Web site)</label>
                            </div>
                            <div class="form-check mt-4">
                                <input class="form-check-input" type="radio" name="AdsOption" id="AdsOption2" value="option2">
                                <label class="form-check-label" for="AdsOption2">Urgent Jobs (Middle Size Company Logo & Mid side on Web site)</label>
                            </div>
                            <div class="form-check mt-4">
                                <input class="form-check-input" type="radio" name="AdsOption" id="AdsOption3" value="option3">
                                <label class="form-check-label" for="AdsOption3">Top Companies (Big Size Company Logo & Upper side on Web site)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <input type="button" id="btnRecruitBack" class="btn btn-primary form-control StepBack" data-toggle="pill" href="#pills-JobPosting" role="tab" aria-selected="true" value="Back" />
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-3">
                        <input type="button" id="btnSave" class="btn btn-primary form-control" value="SAVE" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
