@{ Layout = "_Layout MyPage"; }
@model IEnumerable<PostViewModel>
<div class="card shadow-lg">
    <div class="card-body bg-light">
        <div class="card-header">
            <h3 class="font-weight-bold text-dark">Manage Resume</h3>
        
                <h6 class="font-weight-bold text-dark">Total Resume : 3 items</h6>
        
            </div>
        <div class="card-body">
            @{int i = 0; }
            @foreach (var item in Model)
            {
               i++;
                <div id="Resume1" class="row mt-5">
                    <div class="col-8">
                        <h5 class="font-weight-bold text-dark">@item.ResumeName</h5>
                        <div class="row">
                            <div class="col-6 row">
                                <i class="fa fa-briefcase col-2 mt-2"></i>
                                <label>Job Experince : # Year ## Month</label>
                            </div>
                            <div class="col-6 row">
                                <i class="fa fa-wrench col-2 mt-2"></i>
                                <label>Job Field : @item.Jobfield@item.Jobfield2</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 row">
                                <i class="fa fa-money-bill-alt col-2 mt-1"></i>
                                <label>Expected Salary : @item.ExpectedSalary</label>
                            </div>
                            <div class="col-6 row">
                                <i class="fa fa-map-marker-alt col-2 mt-1"></i>
                                <label>Working Location : @item.Location</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <h6 class="font-weight-bold text-dark mt-4">Show Resume</h6>
                     
                            <div class="custom-control custom-switch" asp-action="EditStatus" asp-route-id="@item.Id">
                                <input type="checkbox" class="custom-control-input" id="ChkResume_@i"  value="@item.Show_open" @(item.Show_open == true ? "checked" : "" )>
                                <label class="custom-control-label" data-on="ON" data-off="OFF" for="ChkResume_@i"></label>

                            </div>
                       

                    </div>
                    <div class="col-2 text-center">
                        <button type="button" class="btn btn-outline-primary btn-block">Revise</button>
                        <button type="button" class="btn btn-outline-primary btn-block">Copy</button>
                        <button type="button" class="btn btn-outline-primary btn-block">View&Print</button>
                    </div>
                </div>


            }
        </div>
    </div>
</div>
<script>
@*$(document).ready(function () {
    $('.switch-handle').click(function () {
        var Id = $(this).data('id');
        var checkStatus = this.checked ? 'ON' : 'OFF';

        $.ajax({
            type: "POST",
            url: '@Url.Action("EditStatus", "MyPage")',
            data: {
                id: Id,
                status: checkStatus
            },
            dataType: 'json',
            success: function (result) {
                if (result) {
                    console.log("Ok");
                } else {
                    console.log("error");
                }
            },
            error: function () {
                console.log('something went wrong - debug it!');
            }
        })
    });
});*@

</script>