

@{ Layout = "_Layout MyPage"; }


@model Resume


<script src="~/js/Resume.js"></script>


@*@using (Html.BeginForm("ViewDataModel", "MyPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {*@

<form method="post" id="myForm" asp-action="RegisterResume" enctype="multipart/form-data">
    <div class="container bg-light" id="tabs">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item text-center border" style="width:20%;">
                <a class="nav-link active" id="Personel-tab" data-toggle="pill" href="#pills-Personel" role="tab" aria-selected="true">
                    <i class="fa fa-user fa-2x"></i>
                    <br />
                    <strong>Personel Information</strong>
                </a>
            </li>
            <li class="nav-item text-center border" style="width:20%;">
                <a class="nav-link" id="Education-tab" data-toggle="pill" href="#pills-Education" role="tab" aria-selected="true">
                    <i class="fa fa-user-graduate fa-2x"></i>
                    <br />
                    <strong>Education</strong>
                </a>
            </li>
            <li class="nav-item text-center border" style="width:20%;">
                <a class="nav-link" id="Experience-tab" data-toggle="pill" href="#pills-Experience" role="tab" aria-selected="true">
                    <i class="fa fa-business-time fa-2x"></i>
                    <br />
                    <strong>Job Experience</strong>
                </a>
            </li>
            <li class="nav-item text-center border" style="width:20%;">
                <a class="nav-link" id="Skill-tab" data-toggle="pill" href="#pills-Skill" role="tab" aria-selected="true">
                    <i class="fa fa-book-reader fa-2x"></i>
                    <br />
                    <strong>Skill Traning</strong>
                </a>
            </li>
            <li class="nav-item text-center border" style="width:20%;">
                <a class="nav-link" id="Job-tab" data-toggle="pill" href="#pills-Job" role="tab" aria-selected="true">
                    <i class="fa fa-search fa-2x"></i>
                    <br />
                    <strong>Required Job</strong>
                </a>
            </li>
        </ul>
        <div class="progress">
            <div id="Progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card shadow-lg">

            <div class="card-body bg-light">

                @*@using (Html.BeginForm("RegisterResume", "MyPage", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm" }))
                    {*@
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-Personel" role="tabpanel">


                        <div class="card-header">
                            <h3 class="font-weight-bold text-dark">Personal Information</h3>
                        </div>

                        <div class="card-body row">

                            <div class="col-sm-9 form-group row">
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">First Name</label>
                                </div>
                                <div class="col-sm-8 mt-2">
                                    <input type="text" class="form-control check" asp-for="FirstName" placeholder="Typing First Name" required />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Last Name</label>
                                </div>
                                <div class="col-sm-8 mt-2">

                                    <input type="text" class="form-control" asp-for="LastName" placeholder="Typing Last Name" required />
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Gender</label>
                                </div>
                                <div class="col-sm-8 mt-2">
                                    <div class="nav nav-pills" id="gender" role="tablist">
                                        @*<button class="nav-link border btn" id="male" data-toggle="list" role="tab" value="male"></button>*@
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="nav-link border btn">
                                                <input type="radio" value="GD01" asp-for="GenderId"> Male
                                            </label>
                                            <label class="nav-link border btn">
                                                <input type="radio" autocomplete="off" value="GD02" asp-for="GenderId"> Female
                                            </label>
                                            <label class="nav-link border btn">
                                                <input type="radio" value="GD03" asp-for="GenderId"> Other
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Birth Date</label>
                                </div>
                                <div class="col-sm-2 mt-2">
                                    <select class="custom-select" asp-for="DayB" required>
                                        <option value="0">Date</option>
                                        @for (int Day = 1; Day <= 31; Day++)
                                        {

                            <option value="@Day">@Day</option>
}

                                    </select>
                                </div>
                                <div class="col-sm-2 mt-2">
                                    <select class="custom-select" asp-for="MonthB" required>
                                        <option value="0">Month</option>
                                        @for (int Month = 1; Month <= 12; Month++)
                                        {

                            <option value="@Month">@Month</option>}

                                    </select>
                                </div>
                                <div class="col-sm-2 mt-2">
                                    <select class="custom-select ml-2" asp-for="YearsB" required>
                                        <option value="0">Year</option>
                                        @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                        {
                            <option value="@i">@i</option>}
                                    </select>
                                </div>
                                <div class="col-sm-3 mt-2"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Mobile Phone</label>
                                </div>
                                <div class="col-sm-5 mt-2">

                                    <input type="tel" class="form-control" placeholder="Typing Mobile No." asp-for="MobilePhone" required />
                                </div>
                                <div class="col-sm-4 mt-2"></div>
                                <div class="col-sm-3 mt-2"></div>
                                <div class="custom-control custom-checkbox custom-control-inline col-sm-8 mt-2 ml-4">
                                    <small>
                                        <input type="checkbox" class="custom-control-input" id="defaultInline1" asp-for="SameMobile">
                                        <label class="custom-control-label" for="defaultInline1">Same with Mobile Phone</label>
                                    </small>
                                </div>

                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Tel No.</label>
                                </div>
                                <div class="col-sm-5 mt-2">
                                    <input type="tel" class="form-control" placeholder="Typing Tel No." asp-for="Tel" />
                                </div>
                                <div class="col-sm-4 mt-2"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Marriage Status</label>
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <select asp-for="MarriageStatusId"
                                            class="custom-select"
                                            asp-items="@(new SelectList(@ViewBag.listmarriage,"Id", "MarriageName"))">
                                        <option value="0">Select Marriage</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mt-2"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Nationality</label>
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <select asp-for="NationalityId"
                                            class="custom-select"
                                            asp-items="@(new SelectList(@ViewBag.listnational,"Id", "Nationality_Eng"))">
                                        <option value="0">Select National</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mt-2"></div>
                                <div class="col-sm-3 mt-2"></div>
                                <div class="custom-control custom-checkbox custom-control-inline col-sm-8 mt-2 ml-4">
                                    <small>
                                        <input type="checkbox" class="custom-control-input" id="defaultInline2" asp-for="StayingOver">
                                        <label class="custom-control-label" for="defaultInline2">Staying Overseas</label>
                                    </small>
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Current Address</label>
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <select class="custom-select"
                                            asp-items="@ViewBag.listlocation" id="Dist">
                                        <option value="">Province</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <select class="custom-select" id="DistrictList">
                                        <option value="">District</option>

                                    </select>
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <select class="custom-select" id="SubDistrictList" asp-for="ProvinceOwnId" required>
                                        <option value="0">Sub-District</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 mt-2"></div>
                                <div class="col-sm-9 mt-2">

                                    <input type="text" class="col-sm form-control" placeholder="Address" asp-for="CurrentAddress" required />
                                </div>
                            </div>
                            <div class="col-sm-3 mt-2">
                                <div class="col-1"></div>

                                <div class="card mt-2 ml-4" style="width:155px; height:197px;">
                                    <img id="image_preview" class="card-img w-100 h-100 bg-preset1" src="~/Images/user.png" required />
                                </div>
                                <input onchange="readfile(this);" type="file" class="form-control-file mt-2" asp-for="ImageName" required />
                            </div>
                            <div class="col-sm mt-2 row">
                                <div class="col-sm-3 row">
                                    <label class="mt-1">Height</label>
                                    <input type="text" class="col-sm-4 form-control ml-2 text-center" placeholder="180" asp-for="Height" required />
                                    <small class="mt-2 ml-1">CM</small>
                                </div>
                                <div class="col-sm-3 row">
                                    <label class="mt-1">Weight</label>
                                    <input type="text" class="col-sm-4 form-control ml-2 text-center" placeholder="60" asp-for="Weight" required />
                                    <small class="mt-2 ml-1">KG</small>
                                </div>
                                <div class="col-sm-3 row mr-4">
                                    <label class="mt-1">Religion</label>
                                    <select asp-for="ReligionId"
                                            class="custom-select col-sm-8 ml-2"
                                            asp-items="@(new SelectList(@ViewBag.listreli,"Id", "ReligionName"))">
                                        <option value="">Select Religion</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 row ml-3">
                                    <label class="mt-1">Military</label>
                                    <select asp-for="MilitaryId"
                                            class="custom-select col-sm-8 ml-2"
                                            asp-items="@(new SelectList(@ViewBag.listMili,"Id", "MilitaryName"))">
                                        <option value="">Select Military</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="row justify-content-end">
                            <input type="button" id="btnPersonelNext" class="btn btn-primary col-sm-3 StepNext" data-toggle="pill" href="#pills-Education" role="tab" value="Next" />
                        </div>

                    </div>

                    <div class="tab-pane fade" id="pills-Education" role="tabpanel">

                        <div class="card-header border-0">
                            <h3 class="font-weight-bold text-dark">Education</h3>
                        </div>
                        <div class="card-body">
                            <div class="row ml-4">
                                <i class="fa fa-graduation-cap fa-2x text-primary"></i>
                                <h4 class="ml-2 font-weight-bold text-dark">Degree # 1</h4>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Degree</label>
                                </div>
                                <div class="col-sm-4 mt-2">
                                    <select asp-for="DegreeId"
                                            class="custom-select"
                                            asp-items="@(new SelectList(@ViewBag.listdegree,"Id", "Degree_Eng"))">
                                        <option value="null">Select Degree</option>
                                    </select>
                                </div>
                                <div class="col-sm-5"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">School Name</label>
                                </div>
                                <div class="col-sm-5 mt-2">
                                    <input type="text" class="form-control" placeholder="School Name" asp-for="SchoolName" required />
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Study Category</label>
                                </div>
                                <div class="col-sm-5 mt-2">
                                    <select asp-for="StudyCateId"
                                            class="custom-select"
                                            asp-items="@(new SelectList(@ViewBag.listStudy,"Id", "StudyCat_Eng"))">
                                        <option value="null">Select StudyCatagory</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Major Subject</label>
                                </div>
                                <div class="col-sm-5 mt-2">

                                    <input type="text" class="form-control" placeholder="Major Subject" asp-for="MajorSubject" required />
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Graduatation Year</label>
                                </div>

                                <div class="col-sm-2 mt-2">
                                    <select class="custom-select" asp-for="GradYear" required>
                                        <option value="">Year</option>
                                        @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                        {
                            <option value="@i">@i</option>
}
                                    </select>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline col-sm-5 mt-3 ml-3">
                                    <small>
                                        <input type="checkbox" class="custom-control-input" id="defaultInline3" asp-for="StudyNowJE">
                                        <label class="custom-control-label" for="defaultInline3">Studying Now</label>
                                    </small>
                                </div>

                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">G.P.A. Score</label>
                                </div>
                                <div class="col-sm-2 mt-2">
                                    @*@Html.EditorFor(model => model.DegreeEPY.GPAScore, new { htmlAttributes = new { @class = "form-control", placeholder = "4.00 / A" } })*@
                                    <input type="text" class="form-control" placeholder="4.00 / A" asp-for="GPAscore" required />
                                </div>
                                <div class="col-sm-7"></div>
                            </div>
                            <br />
                            <div class="row ml-4">
                                <i class="fa fa-graduation-cap fa-2x text-primary"></i>
                                <h4 class="ml-2 font-weight-bold text-dark">Degree # 2</h4>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Degree</label>
                                </div>
                                <div class="col-sm-4 mt-2">
                                    <select asp-for="DegreeId2"
                                            class="custom-select"
                                            asp-items="@(new SelectList(@ViewBag.listdegree,"Id", "Degree_Eng"))">
                                        <option value="null">Select Degree</option>
                                    </select>
                                </div>
                                <div class="col-sm-5"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">School Name</label>
                                </div>
                                <div class="col-sm-5 mt-2">

                                    <input type="text" class="form-control" placeholder="School Name" asp-for="SchoolName2" />
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Study Category</label>
                                </div>
                                <div class="col-sm-5 mt-2">
                                    <select asp-for="StudyCateId2"
                                            class="custom-select"
                                            asp-items="@(new SelectList(@ViewBag.listStudy,"Id", "StudyCat_Eng"))">
                                        <option value="null">Select StudyCatagory</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Major Subject</label>
                                </div>
                                <div class="col-sm-5 mt-2">
                                    <input type="text" class="form-control" placeholder="Major Subject" asp-for="MajorSubject2" />
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Graduatation Year</label>
                                </div>
                                <div class="col-sm-2 mt-2">
                                    <select class="custom-select" asp-for="GradYear2">
                                        <option value="">Year</option>
                                        @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                        {
                            <option value="@i">@i</option>
}
                                    </select>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline col-sm-5 mt-3 ml-3">
                                    <small>
                                        <input type="checkbox" class="custom-control-input" id="defaultInline4" asp-for="StudyNowJE2">
                                        <label class="custom-control-label" for="defaultInline4">Studying Now</label>
                                    </small>
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">G.P.A. Score</label>
                                </div>
                                <div class="col-sm-2 mt-2">
                                    @*@Html.EditorFor(model => model.DegreeEPY.GPAScore, new { htmlAttributes = new { @class = "form-control", placeholder = "4.00 / A" } })*@
                                    <input type="text" class="form-control" placeholder="4.00 / A" asp-for="GPAscore2" />
                                </div>
                                <div class="col-sm-7"></div>
                            </div>
                            <br />
                            <div class="row ml-4">
                                <i class="fa fa-graduation-cap fa-2x text-primary"></i>
                                <h4 class="ml-2 font-weight-bold text-dark">Degree # 3</h4>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Degree</label>
                                </div>
                                <div class="col-sm-4 mt-2">
                                    <select asp-for="DegreeId3"
                                            class="custom-select"
                                            asp-items="@(new SelectList(@ViewBag.listdegree,"Id", "Degree_Eng"))">
                                        <option value="null">Select Degree</option>
                                    </select>
                                </div>
                                <div class="col-sm-5"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">School Name</label>
                                </div>
                                <div class="col-sm-5 mt-2">

                                    <input type="text" class="form-control" placeholder="School Name" asp-for="SchoolName3" />
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Study Category</label>
                                </div>
                                <div class="col-sm-5 mt-2">
                                    <select asp-for="StudyCateId3"
                                            class="custom-select"
                                            asp-items="@(new SelectList(@ViewBag.listStudy,"Id", "StudyCat_Eng"))">
                                        <option value="null">Select StudyCatagory</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Major Subject</label>
                                </div>
                                <div class="col-sm-5 mt-2">
                                    @*@Html.EditorFor(model => model.DegreeEPY.MajorSubject, new { htmlAttributes = new { @class = "form-control", placeholder = "Major Subject" } })*@
                                    <input type="text" class="form-control" placeholder="Major Subject" asp-for="MajorSubject3" />
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">Graduatation Year</label>
                                </div>
                                <div class="col-sm-2 mt-2">
                                    <select class="custom-select" asp-for="GradYear3">
                                        <option value="">Year</option>
                                        @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                        {
                            <option value="@i">@i</option>
}
                                    </select>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline col-sm-5 mt-3 ml-3">
                                    <small>
                                        <input type="checkbox" class="custom-control-input" id="defaultInline5" asp-for="StudyNowJE3">
                                        <label class="custom-control-label" for="defaultInline5">Studying Now</label>
                                    </small>
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <label class="mt-1">G.P.A. Score</label>
                                </div>
                                <div class="col-sm-2 mt-2">
                                    @*@Html.EditorFor(model => model.DegreeEPY.GPAScore, new { htmlAttributes = new { @class = "form-control", placeholder = "4.00 / A" } })*@
                                    <input type="text" class="form-control" placeholder="4.00 / A" asp-for="GPAscore3" />
                                </div>
                                <div class="col-sm-7"></div>
                            </div>
                            <br />

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="button" id="btnEducationBack" class="btn btn-primary form-control StepBack" data-toggle="pill" href="#pills-Personel" role="tab" value="Back" />
                            </div>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-3">
                                @*<button type="submit" class="btn btn-primary col-sm-3 StepNext">Save</button>*@
                                <input type="button" id="btnEducationNext" class="btn btn-primary form-control StepNext" data-toggle="pill" href="#pills-Experience" role="tab" aria-selected="true" value="Next" />
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-Experience" role="tabpanel">

                        <div class="card-header border-0">
                            <h3 class="font-weight-bold text-dark">Job Experience</h3>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#JobExperiencee1">Job Experience 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#JobExperiencee2" disabled>Job Experience 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#JobExperiencee3">Job Experience 3</a>
                            </li>
                        </ul>


                        <div class="tab-content">

                            <div id="JobExperiencee1" class="tab-pane active">
                                <div class="card-body">
                                    <div class="row ml-4 mt-4">
                                        <i class="fa fa-user-tie fa-2x text-primary"></i>
                                        <h4 class="ml-2 font-weight-bold text-dark">Job Experience # 1</h4>
                                    </div>
                                    @*<hr />*@
                                    <div class="row">
                                        <div class="col-sm-2 mt-4">
                                            <label class="mt-1">Company Name</label>
                                        </div>
                                        <div class="col-sm-4 mt-4">
                                            <input type="text" class="form-control" placeholder="Company Name" asp-for="CompanyName" />
                                        </div>
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Working Period</label>
                                        </div>
                                        <div class="col-sm-4 mt-2 ml-1 row">
                                            <label class="mt-1">Start to</label>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="WorkStartYear">
                                                <option value="">Year</option>
                                                @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                                {
                                    <option value="@i">@i</option>
}
                                            </select>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="WorkStartMonth">
                                                <option value="">Month</option>
                                                @for (int Month = 1; Month <= 12; Month++)
                                                {

                                    <option value="@Month">@Month</option>}
                                            </select>
                                        </div>
                                        <div class="col-sm-4 mt-2 row">
                                            <label class="mt-1">End to</label>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="WorkEndYear">
                                                <option>Year</option>
                                                @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                                {
                                    <option value="@i">@i</option>
}
                                            </select>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="WorkEndMonth">
                                                <option value="">Month</option>
                                                @for (int Month = 1; Month <= 12; Month++)
                                                {

                                    <option value="@Month">@Month</option>
}
                                            </select>
                                        </div>
                                        <div class="col-sm-2 mt-2">
                                            <select class="form-control" asp-for="Status_Working">
                                                <option value="Resigned">Resigned</option>
                                                <option value="Working Now">Working Now</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Industry</label>
                                        </div>
                                        <div class="col-sm-6 mt-2">
                                            <select asp-for="industryId"
                                                    class="custom-select"
                                                    asp-items="@(new SelectList(@ViewBag.listindustry,"Id", "Industry_Eng"))">
                                                <option value="">Select Industry</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Job Field</label>
                                        </div>
                                        <div class="col-sm-6 mt-2">
                                            <select asp-for="JobFieldId"
                                                    class="custom-select"
                                                    asp-items="@(new SelectList(@ViewBag.listjobfield,"Id", "JobField_Eng"))">
                                                <option value="0">Select JobField</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Position</label>
                                        </div>
                                        <div class="col-sm-3 mt-2">
                                            <select asp-for="PositionId"
                                                    class="custom-select"
                                                    asp-items="@(new SelectList(@ViewBag.listpos,"Id", "Positionlevel_Eng"))">
                                                <option value="0">Select Position</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 mt-2">
                                            <input type="text" class="form-control" placeholder="Etc. Text Field" asp-for="etcposition" />
                                        </div>
                                        <div class="col-sm-4 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Working Dept.</label>
                                        </div>
                                        <div class="col-sm-3 mt-2">
                                            @*@Html.EditorFor(model => model.jobExpEPY.WorkingDept, new { htmlAttributes = new { @class = "form-control", placeholder = "Typing Dept. Title" } }*@
                                            <input type="text" class="form-control" placeholder="Typing Dept. Title" asp-for="WorkingDept" />
                                        </div>
                                        <div class="col-sm-7 mt-2"></div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="custom-control custom-checkbox custom-control-inline col-sm-9 mt-2 ml-4">
                                            <small>
                                                <input type="checkbox" class="custom-control-input" id="defaultInline6" asp-for="Working_in_overseas">
                                                <label class="custom-control-label" for="defaultInline6">Working in Overseas</label>
                                            </small>
                                        </div>

                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Company Location</label>
                                        </div>
                                        <div class="col-sm-3 mt-2">
                                            <select class="custom-select"
                                                    asp-items="@ViewBag.listlocation" id="Dist2">
                                                <option value="">Province</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 mt-2">
                                            <select class="custom-select" id="DistrictList2">
                                                <option value="">District</option>

                                            </select>
                                        </div>
                                        <div class="col-sm-4 mt-2">
                                            <select class="custom-select" id="SubDistrictList2" asp-for="ProvinceComId" required>
                                                <option value="0">Sub-District</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Salary</label>
                                        </div>
                                        <div class="col-sm-3 mt-2">
                                            <input type="number" class="form-control" placeholder="###,##0.00" asp-for="Salary" />
                                        </div>
                                        <div class="col-sm-7 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Job Duty</label>
                                        </div>
                                        <div class="col-sm-10 mt-2">
                                            <input type="text" class="form-control" style="height:200px;" asp-for="Jobduty" />
                                        </div>
                                        <div class="col-sm mt-4">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="JobExperiencee2" class="tab-pane fade">

                            </div>
                            <div id="JobExperiencee3" class="tab-pane fade">
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="button" id="btnExperienceBack" class="btn btn-primary form-control StepBack" data-toggle="pill" href="#pills-Education" role="tab" aria-selected="true" value="Back" />
                            </div>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-3">
                                @*<button type="submit" class="btn btn-primary col-sm-3 StepNext">Save</button>*@
                                <input type="button" id="btnExperienceNext" class="btn btn-primary form-control StepNext" data-toggle="pill" href="#pills-Skill" role="tab" aria-selected="true" value="Next" />
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-Skill" role="tabpanel">
                        <div class="card-header border-0">
                            <h3 class="font-weight-bold text-dark">Skills & Training</h3>
                        </div>
                        <div class="card-body">
                            <div class="row ml-4">
                                <i class="fa fa-hands-wash fa-2x text-primary"></i>
                                <h4 class="ml-2 font-weight-bold text-dark">Skills</h4>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-2 mt-2">
                                    <label class="mt-1">Foreign Language</label>
                                </div>
                                <div class="col-sm-5 mt-2">
                                    <select class="custom-select"
                                            asp-items="@ViewBag.listlang" id="foreignlang">
                                        <option value="">Select Language</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 mt-2">
                                    <select asp-for="Language"
                                            class="custom-select"
                                            id="Langlevel">
                                        <option value="null">Select Level</option>
                                    </select>
                                </div>

                                <div class="col-sm-2 mt-2"></div>
                                <div class="col-sm-5 mt-2">
                                    <select class="custom-select"
                                            asp-items="@ViewBag.listlang" id="foreignlang2">
                                        <option value="">Select Language</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 mt-2">
                                    <select asp-for="Language2"
                                            class="custom-select"
                                            id="Langlevel2">
                                        <option value="null">Select Level</option>
                                    </select>
                                </div>

                                <div class="col-sm-2 mt-2"></div>
                                <div class="col-sm-5 mt-2">
                                    <select class="custom-select"
                                            asp-items="@ViewBag.listlang" id="foreignlang3">
                                        <option value="">Select Language</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 mt-2">
                                    <select asp-for="Language3"
                                            class="custom-select"
                                            id="Langlevel3">
                                        <option value="null">Select Level</option>
                                    </select>
                                </div>

                            </div>
                            <br />
                            <div class="row ml-4">
                                <i class="fa fa-car fa-2x text-primary"></i>
                                <h4 class="ml-2 font-weight-bold text-dark">Driving License / Own Vehicle</h4>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-2 mt-2">
                                    <label class="mt-1">Driving License</label>
                                </div>
                                <div class="col-sm-8 mt-2">
                                    <div class="card-body border">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Car" value="DVL01" asp-for="Drivinglicense1">
                                            <label class="form-check-label" for="Car">Car</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Motorbike" value="DVL02" asp-for="Drivinglicense2">
                                            <label class="form-check-label" for="Motorbike">Motorbike</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Truck" value="DVL03" asp-for="Drivinglicense3">
                                            <label class="form-check-label" for="Truck">Truck</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Trailer" value="DVL04" asp-for="Drivinglicense4">
                                            <label class="form-check-label" for="Trailer">Trailer</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Forklift" value="DVL05" asp-for="Drivinglicense5">
                                            <label class="form-check-label" for="Forklift">Forklift</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 mt-2"></div>
                                <div class="col-sm-2 mt-2">
                                    <label class="mt-1">Own Vehicle</label>
                                </div>
                                <div class="col-sm-8 mt-2">
                                    <div class="card-body border">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Car" value="VEC01" asp-for="Own_car1">
                                            <label class="form-check-label" for="Car">Car</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Motorbike" value="VEC02" asp-for="Own_car2">
                                            <label class="form-check-label" for="Motorbike">Motorbike</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Truck" value="VEC03" asp-for="Own_car3">
                                            <label class="form-check-label" for="Truck">Truck</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 mt-2"></div>
                            </div>
                            <br />
                            <div class="row ml-4">
                                <i class="fa fa-address-card fa-2x text-primary"></i>
                                <h4 class="ml-2 font-weight-bold text-dark">Certificate / Competition Prize</h4>
                            </div>
                            <hr />

                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#Certificate1">Certificate 1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Certificate2">Certificate 2</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Certificate3">Certificate 3</a>
                                </li>
                            </ul>


                            <div class="tab-content">

                                <div id="Certificate1" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-sm-2 mt-4">
                                            <label class="mt-1">Category</label>
                                        </div>
                                        <div class="col-sm-6 mt-4">
                                            <select asp-for="CategoryId"
                                                    class="custom-select"
                                                    asp-items="@(new SelectList(@ViewBag.listcert,"Cert_pize_Id", "Position_level_Eng"))">
                                                <option value="">Select  Certificate or Competition</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Title</label>
                                        </div>
                                        <div class="col-sm-8 mt-2">
                                            <input type="text" class="form-control" placeholder="Title name of Certificate or Competition Prize" asp-for="CertName" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Issued by</label>
                                        </div>
                                        <div class="col-sm-8 mt-2">
                                            <input type="text" class="form-control" placeholder="Issued(Prized) by Name of Institute/Organization/Company" asp-for="Issued_byCert" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm mt-4">

                                        </div>
                                    </div>
                                </div>
                                <div id="Certificate2" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-sm-2 mt-4">
                                            <label class="mt-1">Category</label>
                                        </div>
                                        <div class="col-sm-6 mt-4">
                                            <select class="custom-select">
                                                <option>Select Certificate or Competition</option>
                                                <option value="Certificate">Certificate</option>
                                                <option value="Competition">Competition</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Title</label>
                                        </div>
                                        <div class="col-sm-8 mt-2">
                                            <input type="text" class="form-control" placeholder="Title name of Certificate or Competition Prize" asp-for="CertName" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Issued by</label>
                                        </div>
                                        <div class="col-sm-8 mt-2">
                                            <input type="text" class="form-control" placeholder="Issued(Prized) by Name of Institute/Organization/Company" asp-for="Issued_byCert" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm mt-4">

                                        </div>
                                    </div>
                                </div>
                                <div id="Certificate3" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-sm-2 mt-4">
                                            <label class="mt-1">Category</label>
                                        </div>
                                        <div class="col-sm-6 mt-4">
                                            <select class="custom-select">
                                                <option>Select Certificate or Competition</option>
                                                <option value="Certificate">Certificate</option>
                                                <option value="Competition">Competition</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Title</label>
                                        </div>
                                        <div class="col-sm-8 mt-2">
                                            <input type="text" class="form-control" placeholder="Title name of Certificate or Competition Prize" asp-for="CertName" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Issued by</label>
                                        </div>
                                        <div class="col-sm-8 mt-2">
                                            <input type="text" class="form-control" placeholder="Issued(Prized) by Name of Institute/Organization/Company" asp-for="Issued_byCert" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm mt-4">

                                        </div>
                                    </div>
                                </div>
                            </div>



                            <br />
                            <div class="row ml-4">
                                <i class="fa fa-dumbbell fa-2x text-primary"></i>
                                <h4 class="ml-2 font-weight-bold text-dark">Training</h4>
                            </div>
                            <hr />

                            <!-- Tabs navs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#menu1">Training 1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu2">Training 2</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu3">Training 3</a>
                                </li>
                            </ul>


                            <div class="tab-content">

                                <div id="menu1" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-sm-2 mt-4">
                                            <label class="mt-1">Title</label>
                                        </div>
                                        <div class="col-sm-8 mt-4">
                                            <input type="text" class="form-control" placeholder="Title name of Training" asp-for="TrainingName" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Issued by</label>
                                        </div>
                                        <div class="col-sm-8 mt-2">
                                            <input type="text" class="form-control" placeholder="Trained by Name of Institute/Organization/Company" asp-for="Issued_byTrain" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Working Period</label>
                                        </div>
                                        <div class="col-sm-4 mt-2 ml-1 row">
                                            <label class="mt-1">Start to</label>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="StartYear">
                                                <option>Year</option>
                                                @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                                {
                                    <option value="@i">@i</option>
}
                                            </select>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="StartMonth">
                                                <option value="">Month</option>
                                                @for (int Month = 1; Month <= 12; Month++)
                                                {

                                    <option value="@Month">@Month</option>}
                                            </select>
                                        </div>
                                        <div class="col-sm-4 mt-2 row">
                                            <label class="mt-1">End to</label>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="EndYear">
                                                <option>Year</option>
                                                @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                                {
                                    <option value="@i">@i</option>
}
                                            </select>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="EndMonth">
                                                <option value="">Month</option>
                                                @for (int Month = 1; Month <= 12; Month++)
                                                {

                                    <option value="@Month">@Month</option>}
                                            </select>
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm mt-4">

                                        </div>
                                    </div>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-sm-2 mt-4">
                                            <label class="mt-1">Title</label>
                                        </div>
                                        <div class="col-sm-8 mt-4">
                                            <input type="text" class="form-control" placeholder="Title name of Training" asp-for="TrainingName" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Issued by</label>
                                        </div>
                                        <div class="col-sm-8 mt-2">
                                            <input type="text" class="form-control" placeholder="Trained by Name of Institute/Organization/Company" asp-for="Issued_byTrain" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Working Period</label>
                                        </div>
                                        <div class="col-sm-4 mt-2 ml-1 row">
                                            <label class="mt-1">Start to</label>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="StartYear">
                                                <option>Year</option>
                                                @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                                {
                                    <option value="@i">@i</option>}
                                            </select>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="StartMonth">
                                                <option value="">Month</option>
                                                @for (int Month = 1; Month <= 12; Month++)
                                                {

                                    <option value="@Month">@Month</option>
}
                                            </select>
                                        </div>
                                        <div class="col-sm-4 mt-2 row">
                                            <label class="mt-1">End to</label>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="EndYear">
                                                <option>Year</option>
                                                @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                                {
                                    <option value="@i">@i</option>}
                                            </select>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="EndMonth">
                                                <option value="">Month</option>
                                                @for (int Month = 1; Month <= 12; Month++)
                                                {

                                    <option value="@Month">@Month</option>}
                                            </select>
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm mt-4">

                                        </div>
                                    </div>
                                </div>
                                <div id="menu3" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-sm-2 mt-4">
                                            <label class="mt-1">Title</label>
                                        </div>
                                        <div class="col-sm-8 mt-4">
                                            <input type="text" class="form-control" placeholder="Title name of Training" asp-for="TrainingName" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Issued by</label>
                                        </div>
                                        <div class="col-sm-8 mt-2">
                                            <input type="text" class="form-control" placeholder="Trained by Name of Institute/Organization/Company" asp-for="Issued_byTrain" />
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm-2 mt-2">
                                            <label class="mt-1">Working Period</label>
                                        </div>
                                        <div class="col-sm-4 mt-2 ml-1 row">
                                            <label class="mt-1">Start to</label>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="StartYear">
                                                <option>Year</option>
                                                @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                                {
                                    <option>@i</option>}
                                            </select>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="StartMonth">
                                                <option>Month</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 mt-2 row">
                                            <label class="mt-1">End to</label>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="EndYear">
                                                <option>Year</option>
                                                @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 120); i--)
                                                {
                                    <option>@i</option>}
                                            </select>
                                            <select class="custom-select col-sm-4 ml-2" asp-for="EndMonth">
                                                <option>Month</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 mt-2"></div>
                                        <div class="col-sm mt-4">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Tabs content -->





                            <br />
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="button" id="btnSkillBack" class="btn btn-primary form-control StepBack" data-toggle="pill" href="#pills-Experience" role="tab" aria-selected="true" value="Back" />
                            </div>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-3">
                                <input type="button" id="btnSkillNext" class="btn btn-primary form-control StepNext" data-toggle="pill" href="#pills-Job" role="tab" aria-selected="true" value="Next" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-Job" role="tabpanel">
                        <div class="card-header">
                            <h3 class="font-weight-bold text-dark">Required Job</h3>
                        </div>
                        <div class="card-body row">
                            <div class="col-sm-2 mt-2">
                                <label class="mt-1">Job Field #1</label>
                            </div>
                            <div class="col-sm-6 mt-2">
                                <select asp-for="JobField1"
                                        class="custom-select"
                                        asp-items="@(new SelectList(@ViewBag.listjobfield,"Id", "JobField_Eng"))" required>
                                    <option value="">Select JobField</option>
                                </select>
                            </div>
                            <div class="col-sm-4 mt-2"></div>
                            <div class="col-sm-2 mt-2">
                                <label class="mt-1">Job Field #2</label>
                            </div>
                            <div class="col-sm-6 mt-2">
                                <select asp-for="JobField2"
                                        class="custom-select"
                                        asp-items="@(new SelectList(@ViewBag.listjobfield,"Id", "JobField_Eng"))">
                                    <option value="">Select JobField</option>
                                </select>
                            </div>
                            <div class="col-sm-4 mt-2"></div>
                            <br />
                            <div class="col-sm-2 mt-2">
                                <label class="mt-1">Employment Type</label>
                            </div>
                            <div class="col-sm-8 mt-2">
                                <div class="card-body border">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="Full-Time" value="EMT01" asp-for="EmploymentType1">
                                        <label class="form-check-label" for="Full-Time">Full-Time</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="Part-Time" value="EMT02" asp-for="EmploymentType2">
                                        <label class="form-check-label" for="Part-Time">Part-Time</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="Freelance/Contract" value="EMT03" asp-for="EmploymentType3">
                                        <label class="form-check-label" for="Freelance/Contract">Freelance/Contract</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="Intern" value="EMT04" asp-for="EmploymentType4">
                                        <label class="form-check-label" for="Intern">Intern</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 mt-2"></div>
                            <br />
                            <div class="col-sm-2 mt-2">
                                <label class="mt-1">Work Location</label>
                            </div>
                            <div class="col-sm-4 mt-2">
                                <select asp-for="ProvinceWorkLocation"
                                        class="custom-select"
                                        asp-items="@ViewBag.listpro" required>
                                    <option value="">Select Province</option>
                                </select>
                            </div>
                            <div class="col-sm-6 mt-2"></div>
                            <br />
                            <div class="col-sm-2 mt-2">
                                <label class="mt-1">Expected Salary</label>
                            </div>
                            <div class="col-sm-4 mt-2">
                                <input type="text" class="form-control" asp-for="ExpectedSalary" placeholder="Salary" />

                            </div>

                        </div>
                       
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="button" id="btnJobBack" class="btn btn-primary form-control StepBack" data-toggle="pill" href="#pills-Skill" role="tab" aria-selected="true" value="Back" />
                            </div>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-3">
                                <input type="hidden" class="form-control" asp-for="ClientId" value="@Model.ClientId" />
                                <a href="" class="btn btn-primary form-control" data-toggle="modal" data-target=".Terms">SAVE</a>
                                @*<input type="button" id="btnSave" class="btn btn-primary form-control" value="SAVE" />*@
                            </div>
                        </div>
                    </div>
                </div>
                @*}*@
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg Terms" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Resume Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3 mt-2">
                            <label class="mt-1">Name</label>
                        </div>
                        <div class="col-sm-4 mt-2">
                            <input type="text" class="form-control" asp-for="ResumeName" placeholder="Name" required />

                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-sm-3 mt-2">
                           
                        </div>
                        <div class="col-sm-6 mt-2"> <div class="text-danger" asp-validation-summary="All"></div></div>
                    </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button  class="btn btn-primary">SAVE</button>
                </div>
                </div>
        </div>
    </div>
</form>

@*<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>*@
<script>


    $(document).ready(function () {
        $("#Dist").change(function() {

            $("#DistrictList").empty();
            $("#SubDistrictList").empty();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDistList")",
                dataType: "json",
                data: { id: $("#Dist").val() },
                success: function (response) {
                    //debugger
                   // $("#District_ID").empty();
                    $("#DistrictList").append("<option value='0'>District</option>");
                    $("#SubDistrictList").append("<option value='0'>Sub-District</option>");
                    $.each(response, function (i, response) {

                        $("#DistrictList").append("<option value='" + response.value + "'>" + response.text + "</option>")
                    })
                },


             })

        })

         $("#Dist2").change(function() {

            $("#DistrictList2").empty();
            $("#SubDistrictList2").empty();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDistList")",
                dataType: "json",
                data: { id: $("#Dist2").val() },
                success: function (response) {
                    //debugger
                   // $("#District_ID").empty();
                    $("#DistrictList2").append("<option value='0'>District</option>");
                    $("#SubDistrictList2").append("<option value='0'>Sub-District</option>");
                    $.each(response, function (i, response) {

                        $("#DistrictList2").append("<option value='" + response.value + "'>" + response.text + "</option>")
                    })
                },


             })

         })

        $("#foreignlang").change(function() {

            $("#Langlevel").empty();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetLevel")",
                dataType: "json",
                data: { id: $("#foreignlang").val() },
                success: function (response) {
                    //debugger
                   // $("#District_ID").empty();
                    $("#Langlevel").append("<option value='0'>Select Level</option>");

                    $.each(response, function (i, response) {

                        $("#Langlevel").append("<option value='" + response.value + "'>" + response.text + "</option>")
                    })
                },


             })

        })

         $("#foreignlang2").change(function() {

            $("#Langlevel2").empty();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetLevel")",
                dataType: "json",
                data: { id: $("#foreignlang2").val() },
                success: function (response) {
                    //debugger
                   // $("#District_ID").empty();
                    $("#Langlevel2").append("<option value='0'>Select Level</option>");

                    $.each(response, function (i, response) {

                        $("#Langlevel2").append("<option value='" + response.value + "'>" + response.text + "</option>")
                    })
                },


             })

        })

     $("#foreignlang3").change(function() {

            $("#Langlevel3").empty();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetLevel")",
                dataType: "json",
                data: { id: $("#foreignlang").val() },
                success: function (response) {
                    //debugger
                   // $("#District_ID").empty();
                    $("#Langlevel3").append("<option value='0'>Select Level</option>");

                    $.each(response, function (i, response) {

                        $("#Langlevel3").append("<option value='" + response.value + "'>" + response.text + "</option>")
                    })
                },


             })

        })


    })
    $("#DistrictList").change(function() {

            $("#SubDistrictList").empty();
            $.ajax({
                 type: "GET",
                url: "@Url.Action("GetSubList")",
                dataType: "json",
                data: { id: $("#DistrictList").val() },
                success: function (response) {
                    //debugger
                   // $("#District_ID").empty();
                    $("#SubDistrictList").append("<option value='0'>Sub-District</option>");
                    $.each(response, function (i, response) {

                        $("#SubDistrictList").append("<option value='" + response.value + "'>" + response.text + "</option>")
                    })
                },

               // error: function (ex)
             })
            //return false;

    })

     $("#DistrictList2").change(function() {

            $("#SubDistrictList2").empty();
            $.ajax({
                 type: "GET",
                url: "@Url.Action("GetSubList")",
                dataType: "json",
                data: { id: $("#DistrictList2").val() },
                success: function (response) {
                    //debugger
                   // $("#District_ID").empty();
                    $("#SubDistrictLis2t").append("<option value='0'>Sub-District</option>");
                    $.each(response, function (i, response) {

                        $("#SubDistrictList2").append("<option value='" + response.value + "'>" + response.text + "</option>")
                    })
                },

               // error: function (ex)
             })
            //return false;

        })




        $(".check").click(function () {
            var form = $("form")[0];
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        });


        function readfile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image_preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }



    //(function () {
    //    var counter = 0;
    //    var btn = document.getElementById('btn');
    //    var form = document.getElementById('form');
    //    var addInput = function () {
    //        counter++;
    //        var input = document.createElement("input");
    //        input.id = 'input-' + counter;
    //        input.type = 'text';
    //        input.name = 'name';
    //        input.placeholder = 'Input number ' + counter;
    //        form.appendChild(input);
    //    };
    //    btn.addEventListener('click', function () {
    //        addInput();
    //    }.bind(this));
    //})();



    //var validator = $("#myForm").validate();
    //var tabs = $("#tabs").tabs({
    //    select: function (event, ui) {
    //        var valid = true;
    //        var current = $(this).tabs("option", "selected");
    //        var panelId = $("#tabs ul a").eq(current).attr("href");

    //        $(panelId).find("input").each(function () {
    //            console.log(valid);
    //            if (!validator.element(this) && valid) {
    //                valid = false;
    //            }
    //        });

    //        return valid;
    //    }
    //});


    //$(".nexttab").click(function () {
    //    $("#tabs").tabs("select", this.hash);
    //});

    ////use link to submit form instead of button
    //$("a[id=submit]").click(function () {
    //    $(this).parents("form").submit();
    //});

</script>