@model Resume
<div class="row">
    <div class="col-md-2">
        <h1>Personel Information</h1>

        @*Degree 1*@
        FirstName = @Model.FirstName
        <br />
        Last Name  = @Model.LastName
        <br />
        Gender  = @Model.Genderld
        <br />
        Birth Date   = @Model.DayB/@Model.MonthB/@Model.YearsB
        <br />
        Mobile Phone  = @Model.MobliePhone
        <br />
        Same with Mobile Phone  = @Model.SameMobile
        <br />
        Tel. No.  = @Model.Tel
        <br />
        MarriageStatus  = @Model.MarriageStatusId
        <br />
        Nationality  = @Model.NationalityId
        <br />
        Staying Overseas  = @Model.StayingOver
        <br />
        Current Address  = @Model.ProvinceOwnId  @Model.CurrentAddress
        <br />
        Height  = @Model.Height
        <br />
        Weight  = @Model.Weight
        <br />
        Religion  = @Model.ReligionId
        <br />
        Military Service  = @Model.MilitaryId
        <br />
        @*ImgProfile  = @Model.Img
        <br />*@

    </div>
    <div class="col-md-2">
        <h1>Education</h1>
        <h4>Degree 1</h4>
        @*Degree 1*@
        Degree = @Model.DegreeId
        <br />
        School Name  = @Model.SchoolName
        <br />
        Study Category  = @Model.StudyCateId
        <br />
        Major Subject   = @Model.MajorSubject
        <br />
        Gradutation Year  = @Model.GradYear
        <br />
        Studying Now  = @Model.StudyNowJE
        <br />
        G.P.A Score  = @Model.GPAscore
        <br />
        @*Degree 2*@
        <h4>Degree 2</h4>
        Degree = @Model.DegreeId2
        <br />
        School Name  = @Model.SchoolName2
        <br />
        Study Category  = @Model.StudyCateId2
        <br />
        Major Subject   = @Model.MajorSubject2
        <br />
        Gradutation Year  = @Model.GradYear2
        <br />
        Studying Now  = @Model.StudyNowJE2
        <br />
        G.P.A Score  = @Model.GPAscore2
        <br />
        @*Degree 3*@
        <h4>Degree 3</h4>
        Degree = @Model.DegreeId3
        <br />
        School Name  = @Model.SchoolName3
        <br />
        Study Category  = @Model.StudyCateId3
        <br />
        Major Subject   = @Model.MajorSubject3
        <br />
        Gradutation Year  = @Model.GradYear3
        <br />
        Studying Now  = @Model.StudyNowJE3
        <br />
        G.P.A Score  = @Model.GPAscore3
        <br />
    </div>
    <div class="col-md-2">
        <h1>Job Experience</h1>
        CompanyName = @Model.CompanyName
        <br />
        Working Period  = Start to @Model.WorkStartYear/@Model.WorkStartMonth End to @Model.WorkEndYear/@Model.WorkEndMonth
        <br />
        Industry        = @Model.industryId
        <br />
        Job Field   = @Model.JobFieldId
        <br />
        Position        = @Model.PositionId
        <br />
        Working Department  = @Model.WorkingDept
        <br />
        Working in Overseas = @Model.Working_in_overseas
        <br />
        Company Location     = @Model.PositionId
        <br />
        Salary      = @Model.Salary
        <br />
        Job Duty       = @Model.Jobduty
        <br />
    </div>

    <div class="col-md-2">
        <h1>Skill</h1>
        CertificateName = @Model.CertName
        <br />
        Issued by       = @Model.Issued_byCert
        <br />
        Language        = @Model.Language
        <br />
        Language Exam   = @Model.LanguageEX
        <br />
        Level           = @Model.Level
        <br />
        Scgrade         = @Model.Scgrade
        <br />
        Driving License = @Model.Drivinglicense
        <br />
        Own Vehicle     = @Model.Own_car
        <br />
        TrainingName    = @Model.TrainingName
        <br />
        Issued by       = @Model.Issued_byTrain
        <br />
        Start to        = @Model.StartYear/@Model.StartMonth End to @Model.EndYear/@Model.EndMonth
        <br />

    </div>
    <div class="col-md-2">
        <h1>Required Job</h1>
        Job Field 1 = @Model.JobField1
        <br />
        Job Field 2 = @Model.JobField2
        <br />
        Employment Type  = @Model.EmploymentType
        <br />
        Work Location   = @Model.ProvinceWorkLocation
        <br />
        Expected Salary = @Model.ExpectedSalary
        <br />

    </div>
</div>